# Importing libraries

In [4]:
# Importing libraries
import pandas as pd
import numpy as ny
import os

In [5]:
# Turning your project folder path into a string as prepared data.
path1 = r'/Users/elizabetenakamura/Documents/projects/python/data/prepared'

# Importing Data Frames

In [6]:
# Importing products_checked.csv
df_prods = pd.read_csv(os.path.join(path1, 'products_checked.csv'), index_col = False)

In [7]:
# Importing orders_products_combined.pkl.
orders_products_combined = pd.read_pickle(os.path.join(path1, 'orders_products_combined.pkl'))

# Information about Data Frames

In [8]:
orders_products_combined.shape

(32434489, 12)

In [9]:
orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [10]:
df_prods.shape

(49672, 6)

In [11]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

# Merging products_checked with order_products_combined since they both have product_id.

In [12]:
# Inner merge data frame.
ords_prods_merge = orders_products_combined.merge(df_prods , on = ['product_id'] , indicator = 'match' )

In [13]:
ords_prods_merge.drop('_merge', axis = 1 )

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,12427,Original Beef Jerky,23,19,4.4,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,26089,Aged White Cheddar Popcorn,23,19,4.7,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,3421081,2977660,206209,prior,13,1,12,7.0,14197,5,1,14197,Tomato Paste,9,9,5.6,both
32404855,3421081,2977660,206209,prior,13,1,12,7.0,38730,6,0,38734,Brownie Crunch High Protein Bar,3,19,5.9,both
32404856,3421081,2977660,206209,prior,13,1,12,7.0,31477,7,0,31479,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32404857,3421081,2977660,206209,prior,13,1,12,7.0,6567,8,0,6567,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32404858,3421081,2977660,206209,prior,13,1,12,7.0,22920,9,0,22921,Roasted & Salted Shelled Pistachios,117,19,1.7,both

In [14]:
ords_prods_merge

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,3421081,2977660,206209,prior,13,1,12,7.0,14197,5,1,both,14197,Tomato Paste,9,9,5.6,both
32404855,3421081,2977660,206209,prior,13,1,12,7.0,38730,6,0,both,38734,Brownie Crunch High Protein Bar,3,19,5.9,both
32404856,3421081,2977660,206209,prior,13,1,12,7.0,31477,7,0,both,31479,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32404857,3421081,2977660,206209,prior,13,1,12,7.0,6567,8,0,both,6567,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32404858,3421081,2977660,206209,prior,13,1,12,7.0,22920,9,0,both,22921,Roasted & Salted Shelled Pistachios,117,19,1.7,both